.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__highlights {
    width: 100%;
    height: 300px;
  }

  &__section-title {
    font-size: 2em;
    font-weight: 400;
    margin: 0.5em 0em;
  }

  &__section-recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 1em;
  }
}
